<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879227249390-e6qn43dqcq2npthd7kbbskg15oq5c87l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879227249390-e6qn43dqcq2npthd7kbbskg15oq5c87l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879227249390-eju42l6th5kiq7b7pmperb0q47fpnmf4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACCLkPSK4HgxwzpNM9CLoR4uGx28T1Rio</string>
	<key>GCM_SENDER_ID</key>
	<string>879227249390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.cnctor.73eats</string>
	<key>PROJECT_ID</key>
	<string>finhay-e4384</string>
	<key>STORAGE_BUCKET</key>
	<string>finhay-e4384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879227249390:ios:dceb674d207bdc9bb549ff</string>
	<key>DATABASE_URL</key>
	<string>https://finhay-e4384.firebaseio.com</string>
</dict>
</plist>